In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('NYPD_Complaint_Data_Historic.csv', low_memory=False, nrows=1000)

In [3]:
df.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,506547392,03/29/2018,20:30:00,NaN,NaN,32,03/30/2018,351,CRIMINAL MISCHIEF & RELATED OF,254,...,NaN,NaN,40.810877,-73.941064,"(40.810877241, -73.941064151)",PATROL BORO MAN NORTH,NaN,25-44,WHITE,F
1,629632833,02/06/2018,23:15:00,NaN,NaN,52,02/07/2018,341,PETIT LARCENY,333,...,F,NaN,40.873671,-73.908014,"(40.873671035, -73.908013649)",PATROL BORO BRONX,NaN,UNKNOWN,UNKNOWN,D
2,787203902,11/21/2018,00:15:00,11/21/2018,00:20:00,75,11/21/2018,341,PETIT LARCENY,321,...,F,NaN,40.651782,-73.885457,"(40.651782232, -73.885456761)",PATROL BORO BKLYN NORTH,NaN,UNKNOWN,UNKNOWN,D
3,280364018,06/09/2018,21:42:00,06/09/2018,21:43:00,10,06/10/2018,361,OFF. AGNST PUB ORD SENSBLTY &,639,...,M,NaN,40.759310,-73.994706,"(40.759310399, -73.994706072)",PATROL BORO MAN SOUTH,NaN,18-24,WHITE HISPANIC,F
4,985800320,11/10/2018,19:40:00,11/10/2018,19:45:00,19,11/10/2018,341,PETIT LARCENY,333,...,F,NaN,40.764536,-73.970728,"(40.764535539, -73.970728388)",PATROL BORO MAN NORTH,NaN,UNKNOWN,UNKNOWN,D

In [4]:
df.isnull().sum()

CMPLNT_NUM             0
CMPLNT_FR_DT           0
CMPLNT_FR_TM           0
CMPLNT_TO_DT         138
CMPLNT_TO_TM         140
ADDR_PCT_CD            0
RPT_DT                 0
KY_CD                  0
OFNS_DESC              1
PD_CD                  0
PD_DESC                0
CRM_ATPT_CPTD_CD       0
LAW_CAT_CD             0
BORO_NM                0
LOC_OF_OCCUR_DESC    188
PREM_TYP_DESC          3
JURIS_DESC             0
JURISDICTION_CODE      0
PARKS_NM             989
HADEVELOPT           962
HOUSING_PSA          938
X_COORD_CD             0
Y_COORD_CD             0
SUSP_AGE_GROUP       261
SUSP_RACE            261
SUSP_SEX             261
TRANSIT_DISTRICT     964
Latitude               0
Longitude              0
Lat_Lon                0
PATROL_BORO            0
STATION_NAME         964
VIC_AGE_GROUP          6
VIC_RACE               0
VIC_SEX                0
dtype: int64

In [5]:
df.duplicated().sum()

0

In [25]:
crime_min = df['OFNS_DESC'].value_counts().idxmin()
crime_max = df['OFNS_DESC'].value_counts().idxmax()
print("The most crime committed is", crime_max)
print("The least crime committed is", crime_min)

The most crime committed is PETIT LARCENY
The least crime committed is OFFENSES AGAINST THE PERSON

In [26]:
station_min = df['STATION_NAME'].value_counts().idxmin()
station_max = df['STATION_NAME'].value_counts().idxmax()
print("The station with most crime committed is", station_max)
print("The station with least crime committed is", station_min)

The station with most crime committed is 125 STREET
The station with least crime committed is 50 STREET

In [27]:
#PATROL_BORO
df['PATROL_BORO'].value_counts().idxmin()

'PATROL BORO STATEN ISLAND'

In [28]:
df['PATROL_BORO'].value_counts().idxmax()

'PATROL BORO BRONX'

In [30]:
df['STATION_NAME'].value_counts()

125 STREET                       4
14 STREET                        2
116 STREET                       2
145 STREET                       2
50 STREET                        1
161 ST.-YANKEE STADIUM           1
47-50 STS./ROCKEFELLER CTR.      1
QUEENSBORO PLAZA                 1
STILLWELL AVENUE-CONEY ISLAND    1
34 ST.-PENN STATION              1
3 AVENUE-149 STREET              1
SOUTH FERRY                      1
WINTHROP STREET                  1
KINGS HIGHWAY                    1
LAFAYETTE AVENUE                 1
53 STREET                        1
28 STREET                        1
BEACH 105 STREET                 1
BOWERY                           1
UNION SQUARE                     1
167 STREET                       1
5 AVENUE                         1
42 ST.-GRAND CENTRAL             1
86 STREET                        1
181 STREET                       1
TREMONT AVENUE                   1
LEXINGTON AVE.                   1
CANAL STREET                     1
UTICA AVE.-CROWN HEIGHTS         1
59 ST.-COLUMBUS CIRCLE           1
Name: STATION_NAME, dtype: int64

In [31]:
df['PATROL_BORO'].value_counts()

PATROL BORO BRONX            224
PATROL BORO BKLYN SOUTH      156
PATROL BORO MAN NORTH        143
PATROL BORO BKLYN NORTH      133
PATROL BORO MAN SOUTH        125
PATROL BORO QUEENS NORTH     104
PATROL BORO QUEENS SOUTH      86
PATROL BORO STATEN ISLAND     29
Name: PATROL_BORO, dtype: int64

In [32]:
df['OFNS_DESC'].value_counts()

PETIT LARCENY                     200
HARRASSMENT 2                     133
ASSAULT 3 & RELATED OFFENSES      118
CRIMINAL MISCHIEF & RELATED OF     99
GRAND LARCENY                      91
FELONY ASSAULT                     45
OFF. AGNST PUB ORD SENSBLTY &      39
DANGEROUS DRUGS                    31
ROBBERY                            26
MISCELLANEOUS PENAL LAW            26
OFFENSES AGAINST PUBLIC ADMINI     24
DANGEROUS WEAPONS                  20
BURGLARY                           19
SEX CRIMES                         19
FORGERY                            16
VEHICLE AND TRAFFIC LAWS           15
GRAND LARCENY OF MOTOR VEHICLE     13
CRIMINAL TRESPASS                  11
INTOXICATED & IMPAIRED DRIVING      8
RAPE                                8
THEFT-FRAUD                         6
POSSESSION OF STOLEN PROPERTY       6
UNAUTHORIZED USE OF A VEHICLE       4
ARSON                               3
OFFENSES INVOLVING FRAUD            3
FRAUDS                              3
NYS LAWS-UNCLASSIFIED FELONY        2
OTHER OFFENSES RELATED TO THEF      2
ADMINISTRATIVE CODE                 2
OFFENSES AGAINST THE PERSON         1
OTHER STATE LAWS (NON PENAL LA      1
OFFENSES AGAINST PUBLIC SAFETY      1
DISORDERLY CONDUCT                  1
ANTICIPATORY OFFENSES               1
JOSTLING                            1
KIDNAPPING & RELATED OFFENSES       1
Name: OFNS_DESC, dtype: int64